*{
	margin: 0;
	padding: 0;
	outline: none;
}
a{
	text-decoration: none;
}

#container {
	width: 1024px;
	margin: 100px auto 0;
	.room-table {
		width: 100%;
		border-collapse:collapse;  
		border-spacing:0; 

		thead {
			th{
				height: 50px;
				line-height: 50px;
				background: #0082e5;
				width: 25%;
				border: 1px solid #ccc;
			}
		}
		tbody{
			td{
				height: 40px;
				line-height: 40px;
				background: #ccc;
				border: 1px solid #cccs;
			}
		}
		.come-in{
			text-align: center;
		}
		.operate-list{
			text-align: center;
		}
	}
	.operate{
		float: right;
		height: 50px;
		width: 200px;
		#creat-room{
			background: #0082e5;
			color: #fff;
			padding: 10px 20px;
			float: right;
		}
	}

	.room-container{
		.enter-code{
			width: 500px;
			height: 300px;
		}
	}
}

.creat-form{
	.item{
		height: 36px;
		line-height: 36px;
		.input-value{
			padding: 5px;
		}
	}
}

